In [33]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns 
import sqlite3
import re

In [6]:
#creating connection with the sql database
con=sqlite3.connect('F:\\applied_ai\\Amazon_food_review\\DataSet\\database.sqlite')

In [13]:
#Reading the Data
filter_data=pd.read_sql_query('select * from Reviews where Score!=3',con)

In [17]:
filter_data.head(5)
filter_data.columns
filter_data.shape

(525814, 10)

In [15]:
filter_data.isna().any()

Id                        False
ProductId                 False
UserId                    False
ProfileName               False
HelpfulnessNumerator      False
HelpfulnessDenominator    False
Score                     False
Time                      False
Summary                   False
Text                      False
dtype: bool

In [16]:
# Partitioning the Score column as positive/1 if Score>3 and as negative/0 if Score<3.
def partition(x):
    if x<3:
        return 0
    return 1

score_col=filter_data['Score']
pos_neg_score=score_col.map(partition)
filter_data['Score']=pos_neg_score
filter_data.head(3)

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
0,1,B001E4KFG0,A3SGXH7AUHU8GW,delmartian,1,1,1,1303862400,Good Quality Dog Food,I have bought several of the Vitality canned d...
1,2,B00813GRG4,A1D87F6ZCVE5NK,dll pa,0,0,0,1346976000,Not as Advertised,Product arrived labeled as Jumbo Salted Peanut...
2,3,B000LQOCH0,ABXLMWJIXXAIN,"Natalia Corres ""Natalia Corres""",1,1,1,1219017600,"""Delight"" says it all",This is a confection that has been around a fe...

In [30]:
#Data Cleaning


#de-duplication
sorted_data=filter_data.sort_values('ProductId')
unique_data=sorted_data.drop_duplicates(subset=['UserId','ProfileName','Time','Text'])
unique_data.shape

(364173, 10)

In [32]:
#as per the constraint HelpfulnessNumerator should be lesser or equal to HelpfulnessDenominator
unique_data=unique_data[unique_data.HelpfulnessNumerator<=unique_data.HelpfulnessDenominator]
unique_data.shape

(364171, 10)

In [41]:
unique_data['Score'].value_counts()

#This is a Food Review Dataset,checking for any reviews other than Food Review.partition

1    307061
0     57110
Name: Score, dtype: int64